# Created by https://www.gitignore.io/api/sublimetext,laravel

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings


### Laravel ###
/bootstrap/compiled.php
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env.local.php
.env.php
.env
composer.phar
# composer.lock
package-lock.json
npm-debug.log
yarn-error.log

# End of https://www.gitignore.io/api/sublimetext,laravel
=======
composer.phar
.idea/
node_modules/
.DS_Store
.env
.vscode

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock



# IGNORE DANNY'S DOCKER STUFF
containers/
Makefile
docker-compose.yml

# Ignore Richard's Docker Stuff
/docker
develop.sh

# php cs fixer cache
.php_cs.cache

# assets are now being buitl on the server
/public/css
/public/js
/public/mix-manifest.json