.contact {
	a {
		i {
			width:52px;
		    line-height: 2em;
		    margin-left: 30px;
		} 
	}
	.submit-status {
			color:#529552;
			background-color:#b9edb9;
			border-color:#a5dda5;
			padding: 20px;
			display:none;

			i {
				margin-right: 10px;
			}
	}
	.btn {
		border-radius: 5px;
		background-color: #9ab1ff;
		&:hover {
			background-color: darken(#9ab1ff,5);
		}
	}
	form a {
		text-decoration: underline;

	}
}