a, body {
  color: #333;
}

.navbar-custom .nav li a, .navbar-custom .navbar-brand {
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.caption {
  text-align: center;
}

.intro-header .page-heading, .intro-header .site-heading {
  text-align: center;
}

footer .copyright, footer .footerlinks {
  text-align: center;
}

body {
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  -webkit-tap-highlight-color: #0085A1;
}

.intro-header .page-heading .subheading, .intro-header .post-heading .subheading, .intro-header .site-heading .subheading {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

a:focus, a:hover {
  color: #0085A1;
}

a img:focus, a img:hover {
  cursor: zoom-in;
}

blockquote {
  color: #777;
  font-style: italic;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #fff;
}

.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.navbar-custom .navbar-header .navbar-toggle {
  color: #777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-brand > img {
  display: inline-block;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: 0 0;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    padding: 20px;
  }
  .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: #fff;
    padding: 20px;
  }
  .navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform .3s;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333;
    text-shadow: none;
  }
  .navbar-custom.is-fixed .navbar-brand:focus, .navbar-custom.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333;
    text-shadow: none;
  }
  .navbar-custom.is-fixed .nav li a:focus, .navbar-custom.is-fixed .nav li a:hover {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse {
    background: rgba(255, 255, 255, 0.95);
  }
  .navbar-default .navbar-collapse.in {
    max-height: initial;
  }
}

.intro-header {
  background: center center no-repeat;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
}

.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
  padding: 100px 0 50px;
  color: #fff;
}

.site-heading {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.intro-header .page-heading h1, .intro-header .site-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .page-heading .subheading, .intro-header .site-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

.intro-header .post-heading h1 {
  font-size: 35px;
}

.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}

.intro-header .post-heading .subheading {
  line-height: 1.1;
  display: block;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}

.intro-header .post-heading .meta {
  font-family: Lora,'Times New Roman',serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.intro-header .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
    padding: 150px 0;
  }
  .intro-header .page-heading h1, .intro-header .site-heading h1 {
    font-size: 80px;
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #333;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  margin: 0 0 10px;
  font-weight: 300;
}

.post-preview > .post-meta {
  color: #777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  color: #0085A1;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.btn {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.pager li > a, .pager li > span {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.caption {
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .85em;
  line-height: 1.764705882em;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  /* is this even a thing? */
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}

.btn {
  font-size: 14px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:focus, .btn-default:hover {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: #fff;
}

.pager {
  margin: 20px 0 0;
}

.pager li > a, .pager li > span {
  font-size: 14px;
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 0;
}

.pager li > a:focus, .pager li > a:hover {
  color: #fff;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}

.pager .disabled > a {
  color: #777;
  background-color: #333;
  cursor: not-allowed;
}

.pager .disabled > a:focus, .pager .disabled > a:hover {
  color: #777;
  background-color: #333;
  cursor: not-allowed;
}

.pager .disabled > span {
  color: #777;
  background-color: #333;
  cursor: not-allowed;
}

::-moz-selection, ::-moz-selection {
  color: #fff;
  text-shadow: none;
  background: #0085A1;
}

::-moz-selection, ::selection {
  color: #fff;
  text-shadow: none;
  background: #0085A1;
}

img::-moz-selection, img::-moz-selection {
  color: #fff;
  background: 0 0;
}

img::selection, img::-moz-selection {
  color: #fff;
  background: 0 0;
}

nav:not(.is-visible) {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.28), transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.28), transparent);
  border: none;
}

.navbar-custom .navbar-header .navbar-toggle, .navbar-brand {
  color: #eee;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  color: #333;
}

.site-heading {
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.site-heading .subheading {
  text-shadow: 1px 1px 6px black;
}

.contact a i {
  width: 52px;
  line-height: 2em;
  margin-left: 30px;
}

.contact .submit-status {
  color: #529552;
  background-color: #b9edb9;
  border-color: #a5dda5;
  padding: 20px;
  display: none;
}

.contact .submit-status i {
  margin-right: 10px;
}

.mc {
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

@media (max-width: 767px) {
  .mc-sm {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 4px;
  }
  .mr-xs {
    margin-right: 4px;
  }
  .mb-xs {
    margin-bottom: 4px;
  }
  .ml-xs {
    margin-left: 4px;
  }
  .mt-sm {
    margin-top: 8px;
  }
  .mr-sm {
    margin-right: 8px;
  }
  .mb-sm {
    margin-bottom: 8px;
  }
  .ml-sm {
    margin-left: 8px;
  }
  .mt-md {
    margin-top: 11px;
  }
  .mr-md {
    margin-right: 11px;
  }
  .mb-md {
    margin-bottom: 11px;
  }
  .ml-md {
    margin-left: 11px;
  }
  .mt-lg {
    margin-top: 23px;
  }
  .mr-lg {
    margin-right: 23px;
  }
  .mb-lg {
    margin-bottom: 23px;
  }
  .ml-lg {
    margin-left: 23px;
  }
  .mt-xl {
    margin-top: 38px;
  }
  .mr-xl {
    margin-right: 38px;
  }
  .mb-xl {
    margin-bottom: 38px;
  }
  .ml-xl {
    margin-left: 38px;
  }
  .pt-xs {
    padding-top: 4px;
  }
  .pr-xs {
    padding-right: 4px;
  }
  .pb-xs {
    padding-bottom: 4px;
  }
  .pl-xs {
    padding-left: 4px;
  }
  .pt-sm {
    padding-top: 8px;
  }
  .pr-sm {
    padding-right: 8px;
  }
  .pb-sm {
    padding-bottom: 8px;
  }
  .pl-sm {
    padding-left: 8px;
  }
  .pt-md {
    padding-top: 11px;
  }
  .pr-md {
    padding-right: 11px;
  }
  .pb-md {
    padding-bottom: 11px;
  }
  .pl-md {
    padding-left: 11px;
  }
  .pt-lg {
    padding-top: 23px;
  }
  .pr-lg {
    padding-right: 23px;
  }
  .pb-lg {
    padding-bottom: 23px;
  }
  .pl-lg {
    padding-left: 23px;
  }
  .pt-xl {
    padding-top: 38px;
  }
  .pr-xl {
    padding-right: 38px;
  }
  .pb-xl {
    padding-bottom: 38px;
  }
  .pl-xl {
    padding-left: 38px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mc-md {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 4px;
  }
  .mr-xs {
    margin-right: 4px;
  }
  .mb-xs {
    margin-bottom: 4px;
  }
  .ml-xs {
    margin-left: 4px;
  }
  .mt-sm {
    margin-top: 8px;
  }
  .mr-sm {
    margin-right: 8px;
  }
  .mb-sm {
    margin-bottom: 8px;
  }
  .ml-sm {
    margin-left: 8px;
  }
  .mt-md {
    margin-top: 11px;
  }
  .mr-md {
    margin-right: 11px;
  }
  .mb-md {
    margin-bottom: 11px;
  }
  .ml-md {
    margin-left: 11px;
  }
  .mt-lg {
    margin-top: 23px;
  }
  .mr-lg {
    margin-right: 23px;
  }
  .mb-lg {
    margin-bottom: 23px;
  }
  .ml-lg {
    margin-left: 23px;
  }
  .mt-xl {
    margin-top: 38px;
  }
  .mr-xl {
    margin-right: 38px;
  }
  .mb-xl {
    margin-bottom: 38px;
  }
  .ml-xl {
    margin-left: 38px;
  }
  .pt-xs {
    padding-top: 4px;
  }
  .pr-xs {
    padding-right: 4px;
  }
  .pb-xs {
    padding-bottom: 4px;
  }
  .pl-xs {
    padding-left: 4px;
  }
  .pt-sm {
    padding-top: 8px;
  }
  .pr-sm {
    padding-right: 8px;
  }
  .pb-sm {
    padding-bottom: 8px;
  }
  .pl-sm {
    padding-left: 8px;
  }
  .pt-md {
    padding-top: 11px;
  }
  .pr-md {
    padding-right: 11px;
  }
  .pb-md {
    padding-bottom: 11px;
  }
  .pl-md {
    padding-left: 11px;
  }
  .pt-lg {
    padding-top: 23px;
  }
  .pr-lg {
    padding-right: 23px;
  }
  .pb-lg {
    padding-bottom: 23px;
  }
  .pl-lg {
    padding-left: 23px;
  }
  .pt-xl {
    padding-top: 38px;
  }
  .pr-xl {
    padding-right: 38px;
  }
  .pb-xl {
    padding-bottom: 38px;
  }
  .pl-xl {
    padding-left: 38px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mc-lg {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 5px;
  }
  .mr-xs {
    margin-right: 5px;
  }
  .mb-xs {
    margin-bottom: 5px;
  }
  .ml-xs {
    margin-left: 5px;
  }
  .mt-sm {
    margin-top: 10px;
  }
  .mr-sm {
    margin-right: 10px;
  }
  .mb-sm {
    margin-bottom: 10px;
  }
  .ml-sm {
    margin-left: 10px;
  }
  .mt-md {
    margin-top: 15px;
  }
  .mr-md {
    margin-right: 15px;
  }
  .mb-md {
    margin-bottom: 15px;
  }
  .ml-md {
    margin-left: 15px;
  }
  .mt-lg {
    margin-top: 30px;
  }
  .mr-lg {
    margin-right: 30px;
  }
  .mb-lg {
    margin-bottom: 30px;
  }
  .ml-lg {
    margin-left: 30px;
  }
  .mt-xl {
    margin-top: 50px;
  }
  .mr-xl {
    margin-right: 50px;
  }
  .mb-xl {
    margin-bottom: 50px;
  }
  .ml-xl {
    margin-left: 50px;
  }
  .pt-xs {
    padding-top: 5px;
  }
  .pr-xs {
    padding-right: 5px;
  }
  .pb-xs {
    padding-bottom: 5px;
  }
  .pl-xs {
    padding-left: 5px;
  }
  .pt-sm {
    padding-top: 10px;
  }
  .pr-sm {
    padding-right: 10px;
  }
  .pb-sm {
    padding-bottom: 10px;
  }
  .pl-sm {
    padding-left: 10px;
  }
  .pt-md {
    padding-top: 15px;
  }
  .pr-md {
    padding-right: 15px;
  }
  .pb-md {
    padding-bottom: 15px;
  }
  .pl-md {
    padding-left: 15px;
  }
  .pt-lg {
    padding-top: 30px;
  }
  .pr-lg {
    padding-right: 30px;
  }
  .pb-lg {
    padding-bottom: 30px;
  }
  .pl-lg {
    padding-left: 30px;
  }
  .pt-xl {
    padding-top: 50px;
  }
  .pr-xl {
    padding-right: 50px;
  }
  .pb-xl {
    padding-bottom: 50px;
  }
  .pl-xl {
    padding-left: 50px;
  }
}

@media (min-width: 1200px) {
  .mc-xl {
    margin-right: auto;
    margin-left: auto;
  }
  .mt-xs {
    margin-top: 8px;
  }
  .mr-xs {
    margin-right: 8px;
  }
  .mb-xs {
    margin-bottom: 8px;
  }
  .ml-xs {
    margin-left: 8px;
  }
  .mt-sm {
    margin-top: 15px;
  }
  .mr-sm {
    margin-right: 15px;
  }
  .mb-sm {
    margin-bottom: 15px;
  }
  .ml-sm {
    margin-left: 15px;
  }
  .mt-md {
    margin-top: 23px;
  }
  .mr-md {
    margin-right: 23px;
  }
  .mb-md {
    margin-bottom: 23px;
  }
  .ml-md {
    margin-left: 23px;
  }
  .mt-lg {
    margin-top: 45px;
  }
  .mr-lg {
    margin-right: 45px;
  }
  .mb-lg {
    margin-bottom: 45px;
  }
  .ml-lg {
    margin-left: 45px;
  }
  .mt-xl {
    margin-top: 75px;
  }
  .mr-xl {
    margin-right: 75px;
  }
  .mb-xl {
    margin-bottom: 75px;
  }
  .ml-xl {
    margin-left: 75px;
  }
  .pt-xs {
    padding-top: 8px;
  }
  .pr-xs {
    padding-right: 8px;
  }
  .pb-xs {
    padding-bottom: 8px;
  }
  .pl-xs {
    padding-left: 8px;
  }
  .pt-sm {
    padding-top: 15px;
  }
  .pr-sm {
    padding-right: 15px;
  }
  .pb-sm {
    padding-bottom: 15px;
  }
  .pl-sm {
    padding-left: 15px;
  }
  .pt-md {
    padding-top: 23px;
  }
  .pr-md {
    padding-right: 23px;
  }
  .pb-md {
    padding-bottom: 23px;
  }
  .pl-md {
    padding-left: 23px;
  }
  .pt-lg {
    padding-top: 45px;
  }
  .pr-lg {
    padding-right: 45px;
  }
  .pb-lg {
    padding-bottom: 45px;
  }
  .pl-lg {
    padding-left: 45px;
  }
  .pt-xl {
    padding-top: 75px;
  }
  .pr-xl {
    padding-right: 75px;
  }
  .pb-xl {
    padding-bottom: 75px;
  }
  .pl-xl {
    padding-left: 75px;
  }
}
