.contact {
	a {
		i {
			width:52px;
		    line-height: 2em;
		    margin-left: 30px;
		} 
	}
	.submit-status {
			color:#529552;
			background-color:#b9edb9;
			border-color:#a5dda5;
			padding: 20px;
			i {
				margin-right: 10px;
			}
	}
}